body {
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    background-color: bisque;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #934A5F;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: right;
    font-size: 40px;
  }
  
  .navbar li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .content {
    margin-top: 60px; /* Adjust this value to give space for the fixed navigation bar */
    padding: 20px;
  }
  
  .aboutme {
    position: fixed;
    top: 90px;
    width: 100%;
    background-color: #C2B4D6;
    height: 800px;
  }
  
  .servs {
    position: fixed;
    top: 800px;
    width: 100%;
    background-color: #9c2020;
    height: 800px;
  }

  .aboutme, .servs , .navbar {
    overflow-y: scroll;
  }
  
  